.button {
  background: green;
  border-radius: 5px;
  color: white;
  padding: 10px 25px;

  text-align: center;
  cursor: pointer;
  &:hover {
    box-shadow: gray 0 0 1px 1px;
  }
}

.small {
  padding: 2px 5px;
}
